/* body {
  background: linear-gradient(gray, black);
} */
.chat-item {
  width: 50%;
}

.your-message-box {
  margin: 0.5em;

  float: right;
}

.your-message {
  background: #EFCAFF;
  border-radius: 1em;
  padding: 1em;
  color: black;
  box-sizing: border-box;
  width: 92%;
}

.other-people-message {
  background: #FFFFFF;
  border-radius: 1em;
  padding: 1em;
  color: black;
  box-sizing: border-box;
  width: 90%;
  margin-left: 40px;
}

.your-image {
  margin: 0.5em;
  float: right;
}

.other-image {
  float: left;
}

.other-people-box {
  margin: 0.5em;
  text-align: left;
  float: left;
  box-sizing: border-box;
  border-radius: 20px;
}

.box-chat_message {
  min-height: 87vh;
  max-height: 87vh;
  overflow-y: auto;

}

.box-chat {
  position: absolute;
  width: 75%;
  height: 100%;
  border-radius: 1em;
  background-color: rgba(214, 211, 211, 0.5);
}

.send-box {
  width: 100%;
  padding: 1em;
}

.button-chat {
  width: 10%;
  background: #6650ff;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  padding: 1em;
  text-align: center;

}

.button-chat:hover {
  background: black;
}

textarea:focus {
  outline: 0;
}