.icon-bar {
	position:absolute;
	margin-left: 3%;
	margin-bottom: 2%;
	margin-top: 2%;
	width: 5%;
	height: 90%;
	background: linear-gradient(180deg, #70078A 0%, rgba(204, 0, 255, 0) 100%), linear-gradient(180deg, rgba(67, 65, 188, 0) 0%, #4341BC 54.69%);
	border-radius: 20px;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}

.icon-bar a:hover {
	background-color: #70078A;
	border-radius: 15px;
}

.active {
	background-color: #04AA6D;
}

.height-1 {
	min-height: 10%;
}
.height-3 {
	min-height: 35%;
}
.height-1 {
	min-height: 35%;
}
.text-side-bar {
	margin-left: 20%;
	top: 5%;
	margin-bottom: 55px;
	font-family: Rasa;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 44px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
}
.mt-sm-6 {
	margin-top: 3.5rem !important;
}
.ms-6 {
	margin-left: 20%;
}
.ms-7 {
	margin-left: 25%;
}
.ms-8 {
	margin-left: 30%;
}
.post-tutor {
	position: absolute;
	margin-left: 20%;
	margin-top: 10%;
}
.text-easy {
	font-family: Rasa;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	color: #0008CD;
}
.text-tutor {
	font-family: Rasa;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	color: #6C28AF
}
.mt-6 {
	margin-top: 5.5%;
}
.mt-7 {
	margin-top: 8%;
}