.icon-bar {
	position:fixed;
	margin-left: 2%;
	margin-bottom: 2%;
	margin-top: 1%;
	width: 5%;
	height: 96%;
	background: linear-gradient(180deg, #70078A 0%, rgba(204, 0, 255, 0) 100%), linear-gradient(180deg, rgba(67, 65, 188, 0) 0%, #4341BC 54.69%);
	border-radius: 20px;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}

.icon-bar a:hover {
	background-color: #70078A;
	border-radius: 15px;
}

.active {
	background-color: #04AA6D;
}

.height-1 {
	min-height: 10%;
}
.height-3 {
	min-height: 35%;
}
.height-1 {
	min-height: 35%;
}
.text-side-bar {
	margin-left: 20%;
	margin-top: 10%;
	margin-bottom: 80%;
	font-family: Rasa;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 44px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
}
.mt-sm-6 {
	margin-top: 70% !important;
}
.ms-6 {
	margin-left: 25%;
}
.ms-7 {
	margin-left: 55%;
}
.ms-8 {
	margin-left: 15%;
}
.post-tutor {
	position: absolute;
	margin-left: 10%;
	margin-top: 13%;
}
.text-easy {
	font-family: Rasa;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	color: #0008CD;
}
.text-tutor {
	font-family: Rasa;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	color: #6C28AF
}
.mt-6 {
	margin-top: 4%;
}
.mt-7 {
	margin-top: 6%;
}
.image-homepage {
	margin-left: 40%;
}
.card-tutor {
	min-width: 80%;
	margin-top: 1%;
	margin-left: 15%;
	border-radius: 20px;
}
.text-time{
	bottom: 5%;
	color: rgb(118, 125, 126);
}
.student-top-component{
	margin-top: 1%;
}
.col-sm-define {
	flex: 0 0 auto;
	width: 65%;
}
.text-contact {
	padding-top: 10px;
	font-family: 'Roboto';
	font-size: small;
	color: rgba(0, 0, 0, 0.5);
}
.icon-purple{
	position: absolute;
	color: #8543c7;
	right: 2%;
	bottom: 1%;
}