.text-profile-sidebar {
    font-size: 30px;
    background: -webkit-linear-gradient(#CC00FF 100%, #CC00FF 0%);
    -webkit-background-clip: text;
    background-clip:'';
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.text-customize {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    letter-spacing: 0.05em;

    color: rgba(0, 0, 0, 0.5);
}

i{
    color:rgba(0, 0, 0, 0.5);
}
#id:focus{
    color: darkviolet;
}
.text-name-profile{
    padding-top: 2%;
    padding-left: 1%;
    font-size: x-large;
    font-weight:400;
    color: rgba(0, 0, 0, 0.5);
}
.input-update-profile{
    width:  250px;
    height: 40px;
}