.frame-tutor-dialog {
    position: fixed;
    top: 5%;
    width: 70%;
    height: 90%;
    left: 15%;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.button-enter-tutor-dialog {
    background-image: linear-gradient(to right, #CC00FF 0%, #CC00FF 50%, #0008CD 100%);
    border: white;
    width: 150px;
    height: 40px;
    margin-left: 25%;
    border-radius: 10px;
}

.input-tutor-dialog {
  width: 92%;
  height: 26%;
  top: 19%;
  font-family: "Segoe UI";
  font-size: 23px;
  border: 0;
  outline: 0;
  color: #000000;
  background: transparent;
  border-bottom: 1px solid rgba(73, 72, 72, 0.5);
}

.cert-text-area {
  position: absolute;
  width: 27%;
  height: 18%;
  left: 66.5%;
  top: 34%;
  font-family: "Segoe UI";
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  border: 1px solid #ffffff;
}

.teach-text-area {
  position: absolute;
  width: 26%;
  height: 24.5%;
  left: 67%;
  top: 64%;
  font-family: "Segoe UI";
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 15px;
  border: 1px solid #ffffff;
}

.enter-certificate {
  position: absolute;
  width: 14%;
  height: 10%;
  left: 67%;
  top: 28%;
  padding-left: 18px;
  font-family: "Segoe UI";
  font-size: 20px;
  align-items: center;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}
.enter-teaching {
  position: absolute;
  width: 20%;
  height: 10%;
  left: 67%;
  top: 58%;
  padding-left: 20px;
  font-family: "Segoe UI";
  font-size: 20px;
  align-items: center;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}
.enter-experience{
  position: absolute;
  width: 14%;
  height: 10%;
  left: 33%;
  top: 58%;
  padding-left: 20px;
  font-family: "Segoe UI";
  font-size: 20px;
  align-items: center;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}
.rectangle-tutor-dialog {
  position: absolute;
  width: 30%;
  height:23%;
  left: 65%;
  top: 31%;
  background: #ffffff;
  border: 1px solid rgba(73, 72, 72, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
}

.experience-text-area {
  position: absolute;
  width: 26%;
  height: 25%;
  left: 33%;
  top: 63%;
  font-family: "Segoe UI";
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  border: 1px solid #ffffff;
}
.rectangle-experience{
  position: absolute;
  width: 30%;
  height: 30%;
  margin-left: 5%;
  margin-top: 14%;
  background: #ffffff;
  border: 1px solid rgba(73, 72, 72, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
}
.rectangle-teaching-method{
  position: absolute;
  width: 30%;
  height:30.5%;
  left: 65%;
  top: 61%;
  background: #ffffff;
  border: 1px solid rgba(73, 72, 72, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
}
.label-experience{
  position: absolute;
  width: 13%;
  height: 10%;
  left: 34%;
  top: 65%;
  padding-left: 20px;
  font-family: "Segoe UI";
  font-size: 20px;
  align-items: center;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}
.datetime-picker-dialog {
  margin-top: 10%;
  margin-left: 16%;
  border: 1px solid rgba(73, 72, 72, 0.5);
  border-radius: 10px;
  height: 25%;
  width: 95%;
  color: rgba(12, 12, 12, 0.5);
}